.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 20px;
}

.column1,
.column2,
.column3 {
    flex: 1;
}

footer {
    text-align: center;
    padding-top: 20px;
}