.container {
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
}

.column1,
.column2,
.column3 {
    width: 100%;
    margin: 0 0 20px 0;
}

footer {
    text-align: center;
}

.wireframe_grid {
    display: block;
}

.wireframe_grid img {
    width: 200px;
    margin-bottom: 15px;
}

.site_map img {
    width: 100%;
    max-width: 100%;
}