.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.column1,
.column2 {
    width: 48%;
    margin: 1%;
}

.column3 {
    width: 98%;
    margin: 1%;
}

footer {
    text-align: center;
}